<h1>List of Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user_path(user) %></td>
          <td><%= user.votes.length %></td>
          <td><%= user.created_at.strftime("%B %d,%Y") %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<p><%= link_to "Back to Media list", works_path, class: "btn btn-secondary" %></p>